/**/
#txtSexo{
  font-size:25px;
}
.op{
  font-size:20px;
}

.taxa{
  margin-top:20px;
}
body{
  background-image: linear-gradient(#eee, #d6f5f5);
  background-size:cover;
	background-attachment:fixed;
}






